.container-box {
  position: absolute;
  width: 75px;
  height: 100vh;
  background-color: rgb(255, 252, 252);
}
.first-icon-boxone {
  margin-top: 10px;
  margin-left: 8px;
  width: 60px;
  height: 55px;
  background-color: rgb(102, 11, 163);
  border-radius: 3px;
}
.first-icon-box {
  margin-top: 10px;
  margin-left: 8px;
  width: 60px;
  height: 55px;
  background-color: rgb(255, 252, 252);
  border-radius: 3px;
}

.first-icon-box-event {
  margin-top: 10px;
  margin-left: 8px;
  width: 60px;
  height: 55px;
  background-color: rgb(255, 252, 252);
  border-radius: 8px;
  border: 2px solid rgb(58, 20, 145);
}

.icon {
  margin-top: 10px;
  margin-right: 3px;
}

.text-icon {
  color: black;
  font-size: small;
}
